<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">  
    <script src="~/js/bower.min.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
