@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="timer">
    <div class="col-lg-8 col-md-offset-2">
        <div class="row">
                <div class="center-block" id="timer-display">
                    <p>Timer's display</p>
                </div>
        </div>
        <div class="row">
            <div class="text-center" id="timer-controls">
                @using (Html.BeginForm("Start", "Timer", FormMethod.Post)) 
                {   
                    <div class="btn-group-lg" role="group">
                        <input class="btn btn-default btn-timer" type="submit" value="Start" />
                        <input class="btn btn-default btn-timer" type="submit" value="Stop" />
                        <input class="btn btn-danger btn-timer" type="submit" value="Reset" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
